
body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h2 {
    font-size: 24px;
}

input {
    width: 90%;
    padding: 15px;
    margin: 8px 0;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}

input:focus {
    background-color: #333;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #0099CC;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #0099CC;
}

th {
    background-color: #0099CC;
    color: #fff;
}

td img {
    max-width: 100px;
    max-height: 100px;
}

td {
    color: #fff;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #0099CC;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #0099CC;
}

th {
    background-color: #0099CC;
    color: #fff;
}

td img {
    max-width: 100px;
    max-height: 100px;
}

td a img {
    width: 30px;
    height: 30px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

